.containerForMap {
  margin-top: 100px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerMap {
  width: 80%;
  height: 30rem;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 0;
}
